ul {
  margin-top: 3rem;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;

  list-style: circle;

  width: 100%;
  height: 3rem;

  font-size: 1.5rem;

  transition: 0.3s;
}

ul li:hover {
  background-color: #51c5de;
  border-radius: 0.4rem;
}

ul li .edit {
  margin-right: 1.5rem;
  color: #51c5de;
  cursor: pointer;
}

ul li .close {
  margin-right: 0.5rem;
  color: #f04064;
  cursor: pointer;
}

ul li:hover .edit,
ul li:hover .close {
  color: black;
}

ul li div {
  display: flex;
  align-items: center;
}
