.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/*MAIN*/

.main {
  background-color: #fff;

  width: 50rem;

  margin: 5rem auto;
  padding: 3rem;

  border-radius: 0.4rem;
}

.main h1 {
  font-size: 2rem;

  text-align: center;
  margin-bottom: 2rem;
}
